<h1 class="box-title top-offset-small">FAQ</h1>
<div class="container">
    <div class="row faq-background">
        <div class="col-sm-3 faq-menu">
              <div class="main-title text-center">Platforms</div>
              <ul class="mar-top">
               <a ui-sref="faq.android" ui-sref-active="faq-menu-active"><li>Android</li></a>
               <a href ="#" ui-sref-active="faq-menu-active"><li>iPhone</li></a>
               <a href ="#" ui-sref-active="faq-menu-active"><li>Windows Phone</li></a>
               <a ui-sref="faq.website" ui-sref-active="faq-menu-active"><li>Website</li></a>
              </ul>
        </div>
        <div class="col-sm-9 instruction-section">
              <div ui-view></div>
        </div>
    </div>
</div>