<div class="main-title text-center">Website Tracking Integration</div>

<div class="instruction-step-container">
    <div class="instruction-step">1</div>
    <p class="instruction-step-text">
    <a ui-sref="auth.signin">Log into</a> your Convins account or <a ui-sref="signup.start">create an account</a> if you do not already have one.
    </p>
   <div class="clearfix"></div>
</div>

<div class="instruction-step-container">
    <div class="instruction-step">2</div>
    <img src="http://placehold.it/350x150" class="instruction-step-image"/>
    <p class="instruction-step-text instruction-text-and-image">
       Create new account and in platforms select website.
    </p>
   <div class="clearfix"></div>
</div>

<div class="instruction-step-container">
    <div class="instruction-step">3</div>
    <p class="instruction-step-text instruction-text-and-image">
       Select events you want to track or create custom events.
    </p>
    <img src="http://placehold.it/350x150" class="instruction-step-image"/>
   <div class="clearfix"></div>
</div>

<div class="instruction-step-container">
    <div class="instruction-step">4</div>
    <img src="http://placehold.it/350x150" class="instruction-step-image"/>
    <p class="instruction-step-text instruction-text-and-image">
       Copy given master script.
    </p>
   <div class="clearfix"></div>
</div>

<div class="instruction-step-container">
    <div class="instruction-step">5</div>
    <p class="instruction-step-text instruction-text-and-image">
       Paste master script to your website, so that it's loaded with every page. Good place to put it is before body closing tag.
    </p>
    <img src="http://placehold.it/350x150" class="instruction-step-image"/>
   <div class="clearfix"></div>
</div>

<div class="instruction-step-container">
    <div class="instruction-step">6</div>
    <img src="http://placehold.it/350x150" class="instruction-step-image"/>
    <p class="instruction-step-text instruction-text-and-image">
       Copy first event script and put it on the page associated with your event. I.e. good place for signup event is on the page where users are redirected after they successfully sign up.
    </p>
   <div class="clearfix"></div>
</div>

<div class="instruction-step-container">
    <div class="instruction-step">8</div>
    <p class="instruction-step-text">
        Repeat step 4 for all choosen events.
    </p>
    <div class="clearfix"></div>
</div>