<h1 class="box-title">Set up your account</h1>
<form class="form-validated form-box" method="post" ng-controller="SignupAccountController" name="form" ng-submit="submit(model, form)">
  <p class="small text-center">
    Set up your account now. This name will help you navigate your accounts later.
  </p>

  <div class="form-group mar-top">
    <div class="controls">
      <input type="text" ng-model="model.Account.Name" name="account_name" id="account_name" class="form-control" required placeholder="Account name">
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div>Add Platforms</div>

      <ul class="list-selector list-selectable">
        <li class="item" ng-click="addPlatform(device)" ng-repeat="device in defaultPlatforms"><i class="convins-font convins-arrow-front"></i> {{ device.Name }}</li>
      </ul>
    </div>
    <div class="col-md-6">
      <div>Selected Platforms</div>
      <ul class="list-selector list-removeable">
        <li class="item" ng-click="removePlatform(device)" ng-repeat="device in selectedPlatforms"><i class="convins-font convins-close"></i>  {{ device.Name }}</li>
      </ul>
    </div>
  </div>

  <div class="form-actions">
    <button class="btn btn-success btn-wide" type='submit' ng-show="!_LOADING_"><i class="convins-font convins-arrow-front ico-in-btn"></i>
      <span ng-if="!state.isAccountSetup()">Create Account</span>
      <span ng-if="state.isAccountSetup()">Save</span>
    </button>
    <button class="btn btn-default btn-wide" ng-show="_LOADING_" disabled>Loading</button>
    <div ng-show="errors.length">
      <div ng-repeat="error in errors">
        {{ error }}
      </div>
    </div>
  </div>
</form>
