<div ng-controller="SignupEventsController">
  <h3>Platforms for Account: {{ state.account.Name }}</h3>
  <ul>
    <li ng-repeat="platform in state.account.Platforms">{{ platform.Name }}</li>
  </ul>
  <hr/>

  <form name="event_form" ng-submit="appendEvent(event, event_form)">
    <div class="form-group">
      <label class="control-label" for="event_name">Add New Event Name</label>
      <div class="controls">
        <input type="text" ng-model="event.name" value="{{ event.name }}" name="event_name" id="event_name" class="form-control" required/>
        <span class="state-success">✔</span>
      </div>
    </div>
  </form>

  <div class="row">
    <div class="col-lg-6">
      <ul>
        <li ng-repeat="event in events">{{ event.name }}</li>
      </ul>

    </div>
    <div class="col-lg-6">
      <ul>
        <li ng-repeat="event in eventTypes">{{ event.name }} (<a ng-click="addPreEvent(event)" class="link">add to list</a>)</li>
      </ul>
    </div>
  </div>

  <form name="submit_form" ng-submit="submit(model, submit_form)">
    <div class="form-group">
      <button class="btn btn-primary" type='submit' ng-show="!_LOADING_">Submit</button>
      <button class="btn btn-primary" ng-show="_LOADING_" disabled>Loading</button>
    </div>
  </form>
</div>