<h1 class="box-title">Set up your account</h1>
<div class="form-box" ng-controller="SignupEventsController">
  <h3>Platforms for Account: {{ state.account.Name }}</h3>

  <div class="small">Devices</div>
  <ul>
    <li ng-repeat="platform in state.account.Platforms">{{ platform.Name }}</li>
  </ul>

  <hr/>

  <div class="row">
    <div class="col-md-6">
      <div>Add Events</div>
      <ul class="list-selector list-selectable">
        <li class="item" ng-click="addEvent(event)" ng-repeat="event in defaultEvents"><i class="glyphicon glyphicon-send"></i> {{ event.Name }}</li>
      </ul>
      <form name="event_form" ng-submit="appendEvent(event, event_form)">
        <input type="text" ng-model="customEvent.name" value="{{ customEvent.name }}" name="event_name" id="event_name" class="form-control" required placeholder="Add custom event">
      </form>
    </div>
    <div class="col-md-6">
      <div>Selected Events</div>
      <ul class="list-selector list-removeable">
        <li class="item" ng-click="removeEvent(event)" ng-repeat="event in selectedEvents"><i class="glyphicon glyphicon-remove-circle"></i>  {{ event.Name }}</li>
      </ul>
    </div>
  </div>

  <form name="submit_form" ng-submit="submit(model, submit_form)">
    <div class="form-group">
      <button class="btn btn-primary" type='submit' ng-show="!_LOADING_">Submit</button>
      <button class="btn btn-primary" ng-show="_LOADING_" disabled>Loading</button>
    </div>
  </form>
</div>