<h1 class="box-title">Subscribe to Convins</h1>
  <div class="row">
    <div class="col-md-12">
        <div class="form-box">
            <div class="top-offset-tiny text-center">
                <img src="/img/icons/freeplan.png" class="center-block"/>
                <div class="subscription-title-big top-offset-tiny">
                    Free Plan
                </div>
                <ul class="ul-with-plus top-offset-tiny">
                    <li>Something good about it</li>
                    <li>Et dolut as evelique earuptas eatur alic toe velent volor</li>
                    <li>It's for free. awesome, awesome, awesome, awesome, awesome, awesome, awesome</li>
                </ul>
                <div class="top-offset-tiny">
                    <div class="subscription-summary">
                        Free
                    </div>
                </div>
                <div class="top-offset-tiny">
                    <a ui-sref="index" class="btn btn-success btn-wide">Next</a>
                </div>
            </div>
        </div>
    </div>
  </div>
 <div class="row">
    <div class="col-md-6 top-offset-tiny">
          <div class="form-box">
             <div class="top-offset-tiny text-center">
                <img src="/img/icons/businessplan.png" class="center-block"/>
                <div class="subscription-title top-offset-tiny">
                   Business Plan
                </div>
                <ul class="ul-with-plus top-offset-tiny">
                    <li class="smaller-font">Something good about it</li>
                    <li class="smaller-font">Et dolut as evelique earuptas eatur alic toe velent volor</li>
                </ul>
                <div class="top-offset-tiny">
                    <div class="subscription-summary">
                        € 99 / Month
                    </div>
                </div>
                <div class="top-offset-tiny">
                    <a class="btn btn-success btn-wide">Upgrade</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 top-offset-tiny">
          <div class="form-box">
            <div class="top-offset-tiny text-center">
                <img src="/img/icons/enterpriseplan.png" class="center-block"/>
                <div class="subscription-title top-offset-tiny">
                   Enterprise Plan
                </div>
                <ul class="ul-with-plus top-offset-tiny">
                    <li class="smaller-font">Something good about it</li>
                    <li class="smaller-font">Et dolut as evelique earuptas eatur alic toe velent volor</li>
                </ul>
                <div class="top-offset-tiny">
                    <div class="subscription-summary">
                        € 265 / Month
                    </div>
                </div>
                <div class="top-offset-tiny">
                    <a class="btn btn-success btn-wide">Learn more</a>
                </div>
        </div>
    </div>
  </div>
</div>