<div ng-controller="SignupWorkflowController" class="position-relative">
  <div class="context-menu expanded" ng-show="currentStep.workflow" data-keep-height>
    <h4 class="context-menu-title">Information</h4>
    <ol class="workflow-steps mar-top">
      <li ng-repeat="step in allSteps" ng-class="{active: step.key == currentStep.key, done: $index < currentStepIdx}" ng-if="step.key != 'subscription'" class="workflow-step">
        <div class="item-title">{{ step.label }}</div>
        <div class="small" ng-if="step.key == currentStep.key">{{ step.description }}</div>
      </li>
    </ol>
  </div>
      <div class="container">
        <div class="row">
          <div class="col-sm-6 col-sm-offset-3">
              <div class="top-offset-large" ui-view></div>
          </div>
        </div>
      </div>

       <div ng-show="currentStep.cart" class="cart-holder">
            <div class="account-name">Your account</div>
            <hr>
           <div class="cart-section">
           <i class="convins-font convins-account"></i>
               <div class="cart-title">Account:</div>
               <div class="cart-item">{{accountName}}</div>
           </div>
           <hr>
            <div class="cart-section">
               <i class="convins-font convins-platform"></i>
               <div class="cart-title">Platforms:</div>
               <div class="cart-item">{{ platformString }}</div>
           </div>
           <hr>
           <div class="cart-section">
               <i class="convins-font convins-event"></i>
               <div class="cart-title">Events:</div>
               <div class="cart-item">{{ eventsString }}</div>
            </div>
       </div>
</div>