<h1 class="box-title">Set your new password</h1>
<div class="col-md-6 col-md-offset-3">
  <form class="form-validated form-box forgotpwd" method="post" ng-controller="PwdResetController" name="form" ng-submit="submit(model, form)">

    <div ng-show="!loading && validated">
      <ul ng-show="errors.length">
        <li ng-repeat="error in errors">
          {{ error }}
        </li>
      </ul>

      <div class="form-group">
        <div class="controls">
          <input type="password" ng-model="model.pwd" id="password" name="password" class="form-control" required ng-minlength="8" ng-pattern="/^(?=.{8,})(?=.*[a-z])(?=.*[A-Z])(?=.*[\d\W]).*$/" placeholder="Password">
          <div class="help-block" ng-show="form.password.$dirty && form.password.$invalid">Invalid:
            <span ng-show="form.password.$error.minlength">Too Short</span>
            <span ng-show="form.password.$error.pattern">Must contain lower case, upper case letters and numbers.</span>
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="help-block" class="controls">
          <input type="password" id="confirm_password" name="confirm_password" class="form-control" ng-model="scrap" required data-same-as="model.pwd" placeholder="ReType Password">
          <div class="help-block" ng-show="form.confirm_password.$dirty && form.confirm_password.$error.passwordVerify">Invalid: Passwords don't match!</div>
        </div>
      </div>

      <div class="form-group">
        <button class="btn btn-success" type='submit' ng-show="!_LOADING_">Submit</button>
        <button class="btn btn-default" ng-show="_LOADING_" disabled>Loading</button>
      </div>
      <div class="text-center small">
        Don't want to change your password? <a class="show-signup" ui-sref="auth.signin">Sign in</a>
      </div>
    </div>

    <div ng-show="validated === null">
      <h1 class="alert alert-info">Loading...</h1>
    </div>


    <div ng-show="!loading && !validated">
      <h1 class="alert alert-danger">Invalid token</h1>
    </div>
  </form>
</div>