.box-title {
  color: white;
  font-weight: 100;
  text-align: center;
  margin-bottom: .7em;
}

.form-box {
  padding: 30px 40px;
  display: block;
  background-color: @transp-white-box-color;
  box-shadow: -2px -2px 6px rgba(0, 0, 0, 0.2);
  .form-group {
    margin-bottom: 1.5 * @line-height-computed;
  }
  .form-actions {
    text-align: center;
    margin-bottom: .5 * @line-height-computed;
  }
}

.form-control-success {
  display: block;
  height: @input-height-base;
  line-height: @input-height-base;
  text-align: left;
  float: right;
  margin-left: -25px;
  width: 25px;
  font-size: 18px;
  color: @alert-success-text;
}

.btn {
  > .glyphicon {
    float: right;
    display: block;
    height: inherit;
    line-height: @line-height-computed;
  }
}


.workflow-steps {
  >.workflow-step {
    font-weight: 100;
    font-size: @font-size-h4;
    padding-top:.2em;
    padding-bottom:.2em;
  }
  .small {
    font-size: @font-size-small;
    font-weight: 100;
  }
  >.active {
    font-weight: 700;
  }
  >.done:before {
    float:right;
    content: "\e084";
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    line-height: 34px;
    color:@brand-success;
  }
}


.list-selector {
  @marginBottom: (@line-height-computed / 2);
  list-style-type: none;
  margin-bottom:@marginBottom;
  padding:0;
  background-color: white;
  border: 1px solid @input-border;
  border-radius: @input-border-radius;
  min-height: 3*@input-height-base + 1px;
  &.x-long {
    min-height: 7*@input-height-base;
  }
  &.xx-long {
    min-height: 8*@input-height-base + @marginBottom;
  }
  > .item {
    .user-select(none);
    display: block;
    cursor:pointer;
    width: 100%;
    height: @input-height-base; // Make inputs at least the height of their button counterpart (base line-height + padding + border)
    padding: 0 @padding-base-horizontal;
    font-size: @font-size-base;
    line-height: @input-height-base;
    background-color: white;
    border-bottom: 1px solid @input-border;
    &:last-child {
      margin-bottom: -1px;
    }
    &:hover {
      background-color: @btn-primary-bg;
      color:@btn-primary-color;
    }
    > .glyphicon {
      float: right;
      display: block;
      padding-top: 0;
      top: 0;
      height: @input-height-base - 2px;
      line-height: @input-height-base - 2px;
    }
  }
  .list-selectable {
  }
  .list-removeable {
  }
}