.box-title {
  color: white;
  font-weight: 100;
  text-align: center;
  margin-bottom: .7em;
}

.form-box {
  padding: 30px 40px;
  display: block;
  background-color: @transp-white-box-color;
  box-shadow: -2px -2px 6px rgba(0, 0, 0, 0.2);
  .form-group {
    margin-bottom: 1.5 * @line-height-computed;
  }
  .form-actions {
    text-align: center;
    margin-bottom: .5 * @line-height-computed;
  }
}

.form-control-success {
  display: block;
  height: @input-height-base;
  line-height: @input-height-base;
  text-align: left;
  float: right;
  margin-left: -25px;
  width: 25px;
  font-size: 18px;
  color: @alert-success-text;
}

.btn {
  > .glyphicon {
    float: right;
    display: block;
    height: inherit;
    padding-top: .2em;
  }
}