@font-face {
    font-family: 'segoe_ui';
    src: url('/public/fonts/segoeuil-webfont.eot');
    src: url('/public/fonts/segoeuil-webfont.eot?#iefix') format('embedded-opentype'),
         url('/public/fonts/segoeuil-webfont.woff') format('woff'),
         url('/public/fonts/segoeuil-webfont.ttf') format('truetype'),
         url('/public/fonts/segoeuil-webfont.svg#segoe_uilight') format('svg');
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: 'segoe_ui';
    src: url('/public/fonts/segoeuisl-webfont.eot');
    src: url('/public/fonts/segoeuisl-webfont.eot?#iefix') format('embedded-opentype'),
         url('/public/fonts/segoeuisl-webfont.woff') format('woff'),
         url('/public/fonts/segoeuisl-webfont.ttf') format('truetype'),
         url('/public/fonts/segoeuisl-webfont.svg#segoe_uisemilight') format('svg');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'segoe_ui';
    src: url('/public/fonts/segoeui-webfont.eot');
    src: url('/public/fonts/segoeui-webfont.eot?#iefix') format('embedded-opentype'),
         url('/public/fonts/segoeui-webfont.woff') format('woff'),
         url('/public/fonts/segoeui-webfont.ttf') format('truetype'),
         url('/public/fonts/segoeui-webfont.svg#segoe_ui_8regular') format('svg');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'segoe_ui';
    src: url('/public/fonts/seguisb-webfont.eot');
    src: url('/public/fonts/seguisb-webfont.eot?#iefix') format('embedded-opentype'),
         url('/public/fonts/seguisb-webfont.woff') format('woff'),
         url('/public/fonts/seguisb-webfont.ttf') format('truetype'),
         url('/public/fonts/seguisb-webfont.svg#segoe_uisemibold') format('svg');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'segoe_ui';
    src: url('/public/fonts/segoeuib-webfont.eot');
    src: url('/public/fonts/segoeuib-webfont.eot?#iefix') format('embedded-opentype'),
         url('/public/fonts/segoeuib-webfont.woff') format('woff'),
         url('/public/fonts/segoeuib-webfont.ttf') format('truetype'),
         url('/public/fonts/segoeuib-webfont.svg#segoe_ui_8bold') format('svg');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'convinsicons';
    src: url('/public/fonts/convins-rregular.otf') format("opentype");
    font-weight: 400;
    font-style: normal;
}


@import "bootstrap/bootstrap";
@import "toaster";

@import "layout";
@import "type";
@import "forms";
@import "static";
@import "text";
@import "helpers";
@import "workflow";
@import "subscription";
@import "icons";